body, html {
    height: 100%;
    margin: 5px;
    text-align: center;
    background: rgba(29,42,52,1);
}

.content {
    color: rgba(173,84,105,.96);
    border: 3px solid white;
<<<<<<< HEAD
    height: 500px;
    width: 750px;
    flex-direction: row;
=======
>>>>>>> 49ed074cbab3c7148a9373d4d83178a5a751863d
}

a {
    color: rgba(60,130,236,1);
}
