body, html {
    height: 95%;
    width: 99%;
    margin: 5px;
    text-align: center;
    background: rgba(29,42,52,1);
}

.content_header {
    flex-direction: row;
    justify-content: space-around;
}

main, body {
    font-family: 'Open Sans', sans-serif;
    color: rgba(208,84,113,.96);
}

.main_content {
    margin: 0 auto;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    flex-flow: row;
    border: 3px solid white;
    height: 95%;
    width: auto;
}

a {
    /* color: rgba(60,130,236,1); */
    color: rgba(29,42,52,1);
}
